$check-color: #2e8540;
.disaster {
  font-size:15px;
  
  h5 {
    font-family: "Source Sans Pro", "Roboto", sans-serif;
  }
  
  button:focus {
    outline: 1px dotted $check-color;
  }

  input[type="checkbox"] {
    position:relative;
    left:0;
    width:24px;
    height:24px;
  }
  
  .affected-areas {
    vertical-align:bottom;
  }

  .counties {
    background-color:#fff;
    border:1px solid #ccc;
    padding:10px;
    margin-top:10px;
    
    ul li {
      background-color: transparent;
      border:none;
      display: block;
      padding-left:10px;
      line-height:36px;
    }

    ul li:hover {
      background-color:#f1f1f1;
    }
  }
  
  .select-button {
    background:transparent;
    color:#000;
    margin: 0;
    padding: 0;
    
    &:focus {
      box-shadow:none;
    }
    
    .hdd-icon {
      fill: $check-color;
    }
  }
}
