span {
  display: block;
  color: #2c3e50;
}

.screen-name { font-style: italic; }
.no-padding { padding: 0; }
.wrapper input[type="text"] {
  width:100%;
  max-width:100%;
  margin-bottom:0;
}

#opaque-bg {
  background: url('/static/img/bg_50_opacity.png');
  @include media($large-screen) {
    border-radius: 10px 0 0 10px;
  }
  border-radius: 10px;
  margin:0 auto;
  overflow: hidden;
}
.offset-bg {
  padding:0 10px 0 20px;
}
/* Search container styles ----------------------------- */
.search-container {
  margin-top:125px;
  padding:0;

  h2 {
    color: #fff;
    text-align: left;
    margin-left:20px;
    height:35px;
    margin-top:1em;
  }
  #search-btn {
    height: 46px;
    margin-top: 3px;
    border: 1px solid #5b616b;
    .hdd-icon {
      top: 0;
      background: transparent;
      right: 0;
      fill: #fff;
    }
    &:active, &:visited, &:focus {
      background-color: $color-primary
    }
  }

  #clear-text {
    background: none;
    position: relative;
    float: right;
    margin-top: -46px;
    max-width: 24px;
    .hdd-icon {
      right: 0;
      left: 12px;
      top: 2px;
    }
  }

  .search-wrapper {
    :-ms-input-placeholder {color:#777777; opacity:1;}
    :-webkit-input-placeholder {color:#777777;}
    :-moz-placeholder {color:#777777;}
    :-moz-p {color:#777777;}

    .fa-spin.hdd-icon {
      margin-top: -34px;
      left: -16px;
    }
    .hdd-icon {
      background-color:#fff;
      fill: #000;
      float:right;
      position:relative;
      top: 0;
      right:10px;
      height:1.3em;
      width:1.3em;
      &.clear-text {
        cursor: pointer;
      }
    }
  }
  /* Disaster list styles --------------------------------- */
  .disaster-list {
    background-color: #fff;
    height:340px;
    left:21px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    position: absolute;
    right:11px;
    top:125px;
    ul {
      display:block;
      margin:0;
      list-style-type: none;
      li {
        display:block;
        border-bottom: 1px solid #ccc;
        margin:0;
        line-height:20px;
        cursor: pointer;
        &:before { content: ''; }
        &:hover {
          background-color: #e2f6fd;
          span {
            color: white;
          }
        }
      }
    }
  }
}
/* DisasterSearch styles ----------------------------------- */
.DisasterSearch {
  padding-bottom:40px;
  /*this style is REQUIRED to line up disaster-search and messaging clearing "x" */
  #message-clear-button { right:-5px; }
}
.DisasterSearch__input {
  font-size: 14px;
  color: #2c3e50;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  //letter-spacing: 1px;
  box-sizing: border-box;
}
.DisasterSearch__input:focus {
  outline: 0;
}
.link-advanced-search {
  display: none;
  padding-top:20px;
  padding-bottom:20px;
  text-align:right;

  a { /* display:none; */ }
}
