/* Messages styles ------------------------------------ */
.normal { display:none; }
/* Extract list styles --------------------------------- */
.extracts {
  background: url('/static/img/bg_50_opacity.png');
  overflow:hidden;
  border-radius:10px;
  padding:20px;

  div#saved_searches {
    height:50px;

    select, input {
      float:left;
      display:block;
      max-height:44px;
    }
    select {
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      background: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%2724%27%20height%3D%2724%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20fill%3D%27%23000%27%20d%3D%27M7.406%207.828l4.594%204.594%204.594-4.594%201.406%201.406-6%206-6-6z%27%3E%3C/path%3E%3C/svg%3E");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-color: white;
      height: 44px;
    }

    button {
      background:transparent;
      border-radius:4px;
      margin:0;
      padding:10px;

      &:focus {
        box-shadow:none;
      }
    }

    i {
      cursor:pointer;
      float:left;
    }

    &>div {
      float:left;
      width:75%;

      select:required:invalid { color:gray; }
      option {
        color:#000;
      }
    }
    &>div#cta {
      float:right;
      text-align:right;
      width:25%;

      button[disabled=disabled] {
        color: gray;
        opacity: 0.3;
      }
    }

  }

  ul {
    display:block;
    margin:0;
    list-style-type: none;
  }
  li:before { content: ''; }
  li {
    &:hover {
       //background: #f1f1f1;
       span {
          color: white;
        }
      }
    background: white;
    display:block;
    border-bottom: 1px solid #ccc;
    margin:0;
    line-height:20px;
    cursor: pointer;
  }

  div#list {
    background: url('/static/img/bg_25_opacity.png');
    border:1px solid #353434;
    clear:both;
    overflow-y:scroll;
    overflow:auto;
    height:410px;
  }

  div#action-buttons {
    height:50px;
    margin-top:20px;
    text-align: right;

    button {
    margin-left:20px;
    margin-right:0;
    }
  }
}