.header{
  &--global{
    margin:0 0 40px;
  }
  &--pre{
    padding:10px 0;
    background:$brand-primary;

    p {
      margin:0;
      color:$color-white;
    }
  }
  &--masthead{
    background:$color-white;

    p {
      margin:0;
    }
  }
}
.logo{
  &--block{

    img{float:left;}
    p{
      padding:40px 0 0;
      color:$brand-blue;
    }
  }

}