.header{
  &--global{
    margin:0 0 40px;
  }
  &--pre{
    padding:5px 0;
    /* background:$brand-primary; */
    background:#0071bc;

    p {
      margin:0;
      font-size:1.2rem;
      color:$color-white;
      @include make-row(0);
    }
  }
  &--masthead{
    padding-top:12px;
    background: #fff;

    p {
      margin:0;
    }
  }
}
.logo{
  &--block{
    padding:0px;
  /*  @include make-xs-column(6,0); */
    width:40%;
    float:left;

    img,.logo-img{
      float:left;
      margin-right:10px;
    }
    .logo-img{
      width:100px;
      height:100px;
      margin:0 20px 0 0;
      padding:0;
      background:url("../img/logo_global.svg") no-repeat;
      background-size:contain;
    }

    h1{
      display: inline-block;
      margin:0;
      padding-top:20px;
    }
  }
}

#tabs{
  position:relative;
  top:0;
  margin-left:47.5%;

  .tab{
    border:1px solid #e8e8e9;
    border-bottom:none;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    float:left;
    height:110px;
    margin:0 10px;
    text-align:center;
    padding-top:20px;
    width:140px;

    &.selected {
      background-color:#191d22;
      border:transparent;
      color:#fff;
      height:110px;

      svg { fill:#fff; }
      span { color:#fff; }
    }

    svg{ fill:#000; }
    span { color:#000; }
  }
}

#ribbon {
  height:45px;
  background:#191d22;
  text-align:center;

  div{
    position:relative;
    top:-5px;
  }

  span{
    display:inline;
    color: #fff;
    margin-right:20px;
  }

  button { display:inline; }
}

.avi{
  &--block{
    .icon--avatar {
      display:inline-block;
      width:30px;
      height:30px;
      border-radius:50%;
      background-image:url("../img/icon-avatar.jpg");
      background-repeat:no-repeat;
      background-size:contain;

      .hdd-icon{
        fill:#000;
      }

      img {
        display:none;//remove later
      }
    }
  }
}
