.header{
  &--global{
    margin:0 0 40px;
  }
  &--pre{
    padding:10px 0;
    background:$brand-primary;

    p {
      margin:0;
      font-size:rem($small-font-size);
      color:$color-white;
      @include make-row(0);
    }
  }
  &--masthead{
    padding:20px 0;

    p {
      margin:0;
    }
  }
}
.logo{
  &--block{
    padding:0px;
    @include make-row(0);

    img,.logo-img{
      float:left;
      margin-right:10px;
    }
    .logo-img{
      display:block;
      width:100px;
      height:100px;
      margin:0 20px 0 0;
      padding:0;
      background:url("../img/logo_global.svg") no-repeat;
      background-size:contain;
    }

    p{
      padding:35px 0 0;
      font-size:rem($lead-font-size);
      line-height:1;
      color:$color-white;
    }
  }

}