.header{
  &--global{
    margin:0 0 40px;
  }
  &--pre{
    padding:10px 0;
    /* background:$brand-primary; */
    background:#0071bd;

    p {
      margin:0;
      font-size:1.2rem;
      color:$color-white;
      @include make-row(0);
    }
  }
  &--masthead{
    padding-top:20px;
    background: #fff;

    p {
      margin:0;
    }
  }
}
.logo{
  &--block{
    padding:0px;
    @include make-xs-column(6,0);

    img,.logo-img{
      float:left;
      margin-right:10px;
    }
    .logo-img{
      display:block;
      width:100px;
      height:100px;
      margin:0 20px 0 0;
      padding:0;
      background:url("../img/logo_global.svg") no-repeat;
      background-size:contain;
    }

    p{
      padding:35px 0 0;
      font-size:24px;//update variable later
      line-height:1;
      /* color:$color-white; */
      color:#000;
    }
  }
}

#tabs{
  position:relative;
  top:0;
  margin-left:50%;

  .tab{
    background:#f7f7f7;
    border:1px solid #000;
    border-radius:4px;
    float:left;
    height:100px;
    margin:0 10px;
    text-align:center;
    padding-top:15px;
    width:140px;

    &.selected {
      background-color:#000;
      color:#fff;
      height:110px;
      border-bottom-left-radius:0;
      border-bottom-right-radius:0;

      svg { fill:#fff; }
      span { color:#fff; }

    }

    svg{ fill:#000; }
    span { color:#000; }
  }
}

#ribbon {
  height:60px;
  background:#000;
  text-align:center;
  padding-top:5px;

  span{
    display:inline;
    color: #fff;
    margin-right:10px;
  }

  button { display:inline; }
}

.avi{
  &--block{
    .icon--avatar {
      display:inline-block;
      width:30px;
      height:30px;
      border-radius:50%;
      background-image:url("../img/icon-avatar.jpg");
      background-repeat:no-repeat;
      background-size:contain;

      .hdd-icon{
        fill:#000;
      }


      img {
        display:none;//remove later
      }
    }
    /*
    .fa,i {
      margin:8px 0 0 5px;
      vertical-align: top;
      color:$color-white;
    }
    */
  }
}
