.header{
  &--global{
    margin:0 0 40px;
  }
  &--pre{
    /* background:$brand-primary; */
    background:#0071bc;

    p {
      margin:0;
      font-size:1.2rem;
      color:$color-white;
      @include make-row(0);
    }
  }
  &--masthead{
    padding-top:12px;
    background: #fff;

    p {
      margin:0;
    }
  }
}
.logo{
  &--block{
    padding:0 0 10px 0;
  /*  @include make-xs-column(6,0); */
    width:40%;
    float:left;

    img,.logo-img{
      float:left;
      margin-right:10px;
    }
    .logo-img{
      width:60px;
      height:60px;
      margin:0 20px 0 0;
      padding:0;
      background:url("../img/logo_global.svg") no-repeat;
      background-size:contain;
    }

    h1{
      @include media($large-screen) {
        font-size: 36px;
      }
      font-size: 30px;
      display: inline-block;
      margin:0;
      font-size:2em;
      padding-top:5px;
    }
  }
}

#burger-menu {
  width: 100%;
  background-color: #0071bc;
  clear: left;
  text-align: center;

  ul {
    margin: 0 0 0 40rem;
    text-align: left;
    padding-top: 15px;
    li {
      vertical-align: top;
      &::before {
        content: "";
      }

      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;

        .hdd-icon {
          margin-bottom: -4px;
          margin-right: 10px;
        }
      }
    }
  }
}

#tabs{
  position:relative;
  top:7px;
  float:right;
  /* margin-left:47.5%; */

  a{
    cursor:pointer;
    display:inline-block;
    border-style:solid;
    border-width:0 0 5px 0;
    border-color:transparent;
    color:#0071bc;
    text-align:left;
    margin-right:50px;
    padding:10px 0;

    .tab{
    float:left;

    .ico-md {
      float:left;
      margin-top:2px;
    }

    svg{ fill:#0071bc; }
    span {
      color:#0071bc;
      padding-left:30px;
    }
  }

  &:hover{
    border-color:#205493;
    svg {fill:#205493;}
    span {color:#205493;}
  }

  &:focus{
    border-color:#112e51;
    svg {fill:#112e51;}
    span {color:#112e51;}
  }

  &.selected {
    border-color:#112e51;
    svg {fill:#112e51;}
    span {color:#112e51;}
  }
}
  }

#ribbon {
  height:45px;
  background:#191d22;
  text-align:center;

  div{
    position:relative;
    top:-5px;
  }

  span{
    display:inline;
    color: #fff;
    margin-right:20px;
  }

  button { display:inline; }
}

.avi{
  &--block{
    .icon--avatar {
      display:inline-block;
      width:30px;
      height:30px;
      border-radius:50%;
      background-image:url("../img/icon-avatar.jpg");
      background-repeat:no-repeat;
      background-size:contain;

      .hdd-icon{
        fill:#000;
      }

      img {
        display:none;//remove later
      }
    }
  }
}
