/*this style is REQUIRED to line up typeahead and messaging clearing "x" */
#app-message-clear-button { right:-5px; }

/* Messages styles --------------------------------- */
.normal { display:none; }
.message-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  .message-container {
      .message {
        overflow:hidden;
        padding:10px;

        .ico {
          float:left;
          padding:5px;
          width:10%;
        }

        .body {
          float:left;
          width:80%;

          div {
            line-height: 20px;
            padding:12px 0;
          }
        }

        .close { float:left; }
      }

      .close-message { fill: #000; }
      .success, .error, .warning, .info {
        vertical-align:middle;
        fill:#000;
      }

      .success { background:#e7f4e4; }
      .error { background:#f9dede; }
      .warning { background: #fff1d2; }
      .info { background:#e1f3f8; }

      .usa-button.clear-message {
        background: transparent;
        cursor:pointer;
        position:absolute;
        right:10px;
        margin-top:2px;
      }
  }
}
