.nav-block{
  &--footer{

  }
  &--list{
    margin:0;
    list-style: none;
    //@include span-columns(7);
    li {
      display:inline-block;
      margin:0 30px 0 0;
      padding:0;
      color:$color-white;
      //@include span-columns( 1 of 12);

      &:before,&:after{
        display:none;
      }

     a{
        display:block;
        padding:.75em 0;
        color:$color-white;
        &:hover{

        }
     }
    }
  }
}