@import "../../../node_modules/tether-shepherd/dist/css/shepherd-theme-square.css";
#tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: .5;
}
body:not(.shepherd-active) #tour-backdrop {
    display: none;
}
.shepherd-enabled {
  z-index: 1042;
  position: relative;
  outline: 2px solid white;
}
.shepherd-step {
  z-index: 1042;
  outline: none;
  .shepherd-content {
    border-radius: 8px !important;
    header {
      border-top-right-radius: 8px !important;
      border-top-left-radius: 8px !important;
      background-color: #0071bc !important;
      color: #fff !important;
      a.shepherd-cancel-link {
        color: inherit !important;
        &:hover {
          background: #0071bc !important;
          font-weight:500;
          opacity: 1.0;
        }
      }
    }
  }
  .shepherd-button {
    @extend .usa-button;
    background:#0071bc !important;
    border-radius: 0.3rem !important;
    text-transform: none !important;
    font-size: 17px !important;
    letter-spacing: normal !important;
    padding: 10px 20px !important;
    &:hover {
      background: #205463 !important;
    }
    &:active {
      background:#112e51 !important;
    }
    &.tour-back {
      background: none !important;
      border: 1px solid #0071bc !important;
      color: #0071bc !important;
    }
    &.tour-back:hover {
      border: 1px solid #205493 !important;
      color: #205493 !important;
    }
    &.tour-back:active {
      border: 1px solid #112e51 !important;
      color: #112e51 !important;
    }
  }
}
.shepherd-element * {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  font-weight: 300;
}
.shepherd-element.shepherd-theme-square .shepherd-content footer .shepherd-buttons {
  li {
    &:before {
      content: "";
    }
    display: inline-block;
  }
}
