span {
  display: block;
  color: #2c3e50;
}

.screen-name { font-style: italic; }
.no-padding { padding: 0; }
.wrapper input[type="text"] { width:100%; max-width:100%; }

#opaque-bg {
  background: url('/static/img/bg_50_opacity.png');
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin:0 auto;
  overflow: hidden;
}
.offset-bg {
  padding:0 10px 0 30px;
}
.message-wrapper {
    min-height:20px;
    font-family: "Source Sans Pro", sans-serif;
}
.messages {
    position: relative;
    div {
      padding:1em;
      padding-right: 3em;
      margin-top:20px;
      padding-left: 2.5em;
    }
    i {
      color:#000;
      margin-right:10px;
      margin-left: -1.5em;
    }
    .close-message:before { content:"\f00d"; }
    /*
    .close-message {
      cursor:pointer;
      position:absolute;
      top:0;
      right:0;
      opacity:.4;
    }
    */
    .success { background:#e7f4e4; }
    .success .m-icon:before { content: "\f058"; }
    .error { background:#f9dede; }
    .error .m-icon:before { content: "\f057"; }
    .warning { background: #fff1d2; }
    .warning .m-icon:before { content:"\f071"; }
    .info { background:#e1f3f8; }
    .info .m-icon:before { content: "\f05a"; }
    .usa-button.clear-message {
      background: transparent;
      font-size:24px;
      cursor:pointer;
      position:absolute;
      top:-5px;
      right:-25px;
    }
}

.search-container {
  margin-top:125px;
  padding:0;

  div#message {
    color: #fff;
    text-align: center;
    height:50px;
  }

  .search-wrapper {
    .fa-times { cursor:pointer;}
    .fa {
      float: right;
      font-size:24px;
      position: relative;
      top: -38px;
      right: 18px;
      background-color:#fff;
    }
  }
  .disaster-list {
    background-color: #fff;
    box-shadow:0 5px 10px #000;
    height:355px;
    left:31px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    position: absolute;
    right:11px;
    top:136px;
    ul {
      display:block;
      margin:0;
      list-style-type: none;
      li {
        display:block;
        border-bottom: 1px solid #ccc;
        margin:0;
        line-height:20px;
        cursor: pointer;
        &:before { content: ''; }
        &:hover {
          background-color: #e2f6fd;
          span {
            color: white;
          }
        }
      }
    }
  }
}


/* Disaster list styles --------------------------------- */
/* Typeahead styles ----------------------------------- */
.Typeahead {
  padding-bottom:20px;
}
.Typeahead__input {
  font-size: 14px;
  color: #2c3e50;
  line-height: 1.42857143;
  font-weight: 300;
  border: 1px solid #ccc;
  //letter-spacing: 1px;
  box-sizing: border-box;
}
.Typeahead__input:focus {
  outline: 0;
}
.link-advanced-search {
  padding:20px 40px;
  text-align:right;
}
