span {
  display: block;
  color: #2c3e50;
}

.screen-name { font-style: italic; }
.no-padding { padding: 0; }
.wrapper input[type="text"] { width:100%; max-width:100%; }

#opaque-bg {
  background: url('/static/img/bg_50_opacity.png');
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin:0 auto;
  overflow: hidden;
}
.offset-bg {
  padding:0 10px 0 30px;
}
.message-wrapper {
  /*  min-height:20px; */
    font-family: "Source Sans Pro", sans-serif;
}
/*this style is REQUIRED to line up typeahead and messaging clearing "x" */
#app-message-clear-button {
  right:-5px;
}
.messages {
  /*  position: relative; */
      margin-top:20px;
    i {
      color:#000;
      margin-right:10px;
      margin-left: -1.5em;
    }
    .close-message {
      fill: #000;
    }
    .success, .error, .warning, .info {
      padding:10px;
      vertical-align:middle;
    }
    .success { background:#e7f4e4; }
    .error { background:#f9dede; }
    .warning { background: #fff1d2; }
    .info { background:#e1f3f8; }
   .hdd-icon.status-type  {
      margin-right:10px;
      fill: #000;
      height:3em;
      width:3em;
    }
    .usa-button.clear-message {
      background: transparent;
      cursor:pointer;
      position:absolute;
      right:10px;
      margin-top:.3em;
    }
}

.search-container {
  margin-top:125px;
  padding:0;

  div#message {
    color: #fff;
    text-align: left;
    margin-left:30px;
    height:35px;
  }

  .search-wrapper {
    .hdd-icon {
      background-color:#fff;
      fill: #000;
      float:right;
      position:relative;
      top:-38px;
      right:10px;
      height:1.3em;
      width:1.3em;
      &.clear-text {
        cursor: pointer;
      }
    }
    /*
    .fa {
      float: right;
      font-size:24px;
      position: relative;
      top: -38px;
      right: 18px;
      background-color:#fff;
    }
    */
  }
  .disaster-list {
    background-color: #fff;
    box-shadow:0 5px 10px #000;
    height:340px;
    left:31px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    position: absolute;
    right:11px;
    top:116px;
    ul {
      display:block;
      margin:0;
      list-style-type: none;
      li {
        display:block;
        border-bottom: 1px solid #ccc;
        margin:0;
        line-height:20px;
        cursor: pointer;
        &:before { content: ''; }
        &:hover {
          background-color: #e2f6fd;
          span {
            color: white;
          }
        }
      }
    }
  }
}


/* Disaster list styles --------------------------------- */
/* Typeahead styles ----------------------------------- */
.Typeahead {
  padding-bottom:20px;
}
.Typeahead__input {
  font-size: 14px;
  color: #2c3e50;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  //letter-spacing: 1px;
  box-sizing: border-box;
}
.Typeahead__input:focus {
  outline: 0;
}
.link-advanced-search {
  padding-top:20px;
  padding-bottom:20px;
  text-align:right;
  a {
    display:none;
  }
}
