span {
  display: block;
  color: #2c3e50;
}

.screen-name { font-style: italic; }
.no-padding { padding: 0; }
.wrapper input[type="text"] {
  width:100%;
  max-width:100%;
  margin-bottom:0;
}

#opaque-bg {
  background: url('/static/img/bg_50_opacity.png');
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin:0 auto;
  overflow: hidden;
}
.offset-bg {
  padding:0 10px 0 30px;
}
/* Search container styles ----------------------------- */
.search-container {
  margin-top:125px;
  padding:0;

  div#message {
    color: #fff;
    text-align: left;
    margin-left:30px;
    height:35px;

    h2{ margin-top:1em; }
  }

  .search-wrapper {
    :-ms-input-placeholder {color:#ccc; opacity:1;}
    :-webkit-input-placeholder {color:#ccc; opacity:1;}
    :-moz-placeholder {color:#ccc; opacity:1;}
    :-moz-p {color:#ccc; opacity:1;}

    .hdd-icon {
      background-color:#fff;
      fill: #000;
      float:right;
      position:relative;
      top:-33px;
      right:10px;
      height:1.3em;
      width:1.3em;
      &.clear-text {
        cursor: pointer;
      }
    }
  }
  /* Disaster list styles --------------------------------- */
  .disaster-list {
    background-color: #fff;
    box-shadow:0 5px 10px #000;
    height:340px;
    left:31px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    position: absolute;
    right:11px;
    top:110px;
    z-index:100;
    ul {
      display:block;
      margin:0;
      list-style-type: none;
      li {
        display:block;
        border-bottom: 1px solid #ccc;
        margin:0;
        line-height:20px;
        cursor: pointer;
        &:before { content: ''; }
        &:hover {
          background-color: #e2f6fd;
          span {
            color: white;
          }
        }
      }
    }
  }
}
/* Typeahead styles ----------------------------------- */
.Typeahead {
  padding-bottom:40px;
  /*this style is REQUIRED to line up typeahead and messaging clearing "x" */
  #message-clear-button { right:-5px; }
}
.Typeahead__input {
  font-size: 14px;
  color: #2c3e50;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  //letter-spacing: 1px;
  box-sizing: border-box;
}
.Typeahead__input:focus {
  outline: 0;
}
.link-advanced-search {
  display: none;
  padding-top:20px;
  padding-bottom:20px;
  text-align:right;

  a { /* display:none; */ }
}
