.selectLocation {

}

.vueSelectContainer {
	background-color: #fff;
	margin-bottom: 2em;
}

.vueSelectCustom {
	font-size: initial;
	ul {
		height: 200px !important;
	}
/*
	.selected-tag {
			position:absolute;
			background: transparent !important;
			border:none !important;
	}
	*/
}

#sideBar {
	.selected-tag {
	position:absolute;
	background: transparent;
	border:none;
	}
	.vueSelectContainer {
		background-color:#fff;
		min-height:45px;
		margin:0;
	}
	#disasterIdInput {

	}

	input[type="search"].form-control {
		// height:43px;
	}

	.dropdown-toggle {
		border-radius:0;
		border:none;
		padding-top:5px;
	}
}
