/* global styles ------------------ */
.hide { display:none; }
.show { display:block; }

.txt-right { text-align:right; }
.txt-left { text-align:left; }
.txt-center { text-align:center; }

.align-left { float:left; }
.align-right { float:right; }

form {
	background-color: #fff;
	margin: -1px;
}

body#login {
	/*background-image: url('../img/bg_login.jpg');*/
}
a , a:hover, a:visited, a:active { text-decoration:none; }
/* 18F grid exceptions ------------ */

/* bootstrap exceptions ---------- */

/* login page --------------------- */
.login { }

/*
.login .container {
	border:1px solid #eee;
	background-color:#fff;
	box-shadow: 5px 5px 12px #c1c1c1;
	/* max-width:380px;
	padding:20px;
}
*/

/* header ------------------------ */
/*header {
	background-color:#f1f1f1;
	height:68px;
	padding:20px;
}
*/
header .container {
	margin-left:0;
	margin-right:0;
	position:relative;
	top:-14px;
	width:100%;
}
header i#hide_menu {
	color:#fff;
	font-size:14px;
	cursor:pointer;
}
header i#show_menu {
	color:#fff;
	cursor:pointer;
}
header .dropdown { display:inline-block; }
header .dropdown ul { padding:5px; }
header .dropdown ul li:after { margin:0; }
header .dropdown ul li a {
	min-width:155px;
	padding:10px;
}
header .dropdown i { margin-right:10px;}
.page-container {
	overflow:auto;
	width:100%;
	position:relative;
	padding:0;
	margin:0;
}
/* global search  ------------------- */
.global-search {
	background:url('../../assets/img/tile_02.jpg');
	padding:20px 20%;
}
.global-search input {
	color:#5b616b;
	max-width:100%;
}
/* 	left nav menu -------------------
	highlight blue = #0071bc
*/
.sidenav { border-right:1px solid #aeb0b5; }
.sidenav .user-info-wrapper {
	background-color:#333;
	border-bottom:1px solid #aeb0b5;
	color:#fff;
	padding:10px;
}
.sidenav .user-info {
	max-height:80px;
	overflow:auto;
	overflow-y:hidden;
}
.sidenav .user-details { height:55px; }
.sidenav div#user-photo {
	float:left;
	width:50px;
}
.sidenav  div#user-photo img {
	background-color:#fff;
	border:1px solid #fff;
	height:40px;
	width:40px;
}
.sidenav div#user-name {
	float:left;
	overflow:auto;
}
.user-notifications { height:25px; }
.user-notifications i { cursor:pointer; }
.user-notifications i.fa-envelope-o { padding-right:30px; }
.user-notifications i.fa-gear{ padding-right:10px; }
.user-notifications .invitations {
	background-color:red;
	border-radius:2px;
	height:12px;
	position:absolute;
	right:60px;
	top:60px;
	width:18px;
}
.user-notifications .invitations span {
	color:#fff;
	font-size:8px;
	font-weight:bold;
	position:relative;
	top:-6px;
}
/* main menu  ------------------------ */
.main-menu.usa-current-sub-menu {display:none;}
.main-menu {
  /* width: 240px; */
  padding:20px 10px;
}
.main-menu h1, h2, h3, h4 {
	cursor: pointer;
	font-family: "Arial";
	font-weight: normal;
	margin:0;
	padding:15px 10px;
}
.main-menu h1:first-child { border-top:none; }
.main-menu h1 i {
	position:absolute;
	left:20px;
	font-size:2.1rem;
	margin-right:10px;
}
.main-menu h1.usa-current{
	border-top:1px solid #000;
	border-left-color:#0071bc;
	color:#0071bc;
	font-weight:700;
}

.main-menu h1 {
	font-size: 1.7rem;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:transparent;
	border-top:1px solid #000;
	color: #000;
	padding-left:40px;
}
.main-menu h1:hover, .main-menu .mnu-select-main { background-color: #f1f1f1; }
/*.main-menu h1:not(:last-of-type) { border-bottom: 1px solid #000; } */
.main-menu div, .main-menu p { display: none; }
.main-menu h2.usa-current, .main-menu h3.usa-current, .main-menu h3 a.usa-current {
	color:#0071bc;
	font-weight:700;
}
.main-menu h2, .main-menu h3, .main-menu h3 a {
	background-color: transparent;
	color:  #000;
	font-size: 1.5rem;
}
.main-menu h2 { padding: 12px 25px; }
.main-menu h2:hover, .main-menu h3:hover {
	background-color: #f2f2f2;
	color:#0071bc;
}
.main-menu h3 { padding: 0; }
.main-menu h3 a{
	display:block;
	padding: 12px 20px 12px 35px;
	text-decoration:none;
}
.main-menu h3 a:hover{ color:#0071bc; }
/* ONLY REQUIRED WHEN GOING 4 LEVELS DOWN */
/*
.accordion h4 {
  padding: 5px 25px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a;
}
.accordion h4:hover {
  background-color: #e0b040;
}
*/
/* content -------------------------------- */
.content-wrapper {
	border-top:1px solid #aeb0b5;
	padding:20px;
	padding-top:0;
}
/* Page title ----------------------------- */
.page-title-container {
	display:inline;
	height:100px;
	width:100%;
}
.page-title {
	min-height:100px;
	padding:15px 0;
	overflow:auto;
}
.page-title #name {
	float:left;
	color:#5b616b;
	font-family:Merriweather, Georgia, Times New Roman, serif;
	font-size:2rem;
	font-weight:700;
	padding:20px;
	padding-left:0;
}
.page-title #description {
	float:left;
	color:#b1b1b1;
	font-size:1.5rem;
	margin-top:4px;
	padding:20px 0;
	max-width:65%;
}
.page-title a {
	float:right;
	position:relative;
	top:-15px;
}
/* breadcrumbs ----------------------------- */
.breadcrumbs div {
	background-color:#f7f7f7;
	padding:5px 10px;
}
.breadcrumbs span {
	color:#ddd;
	padding:0 10px;
}
.breadcrumbs a { font-size:1.3rem; }
.breadcrumbs a.active {
	/* color:#b1b1b1;
	cursor: default; */
}
