//Reference readme file for sass dir outline

@import "./00-presets/__index";
@import "./01-vendors/__index";
@import "./02-base/__index";
@import "./03-modules/__index";
@import "./04-comps/__index";
@import "./05-layouts/__index";
@import "./06-utils/__index";
@import "./07-queries/__index";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






