/* apply a natural box layout model to all elements, but allowing components to change */

html {
  height:100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background:$bg-body;
  &#login{
    height: 100%;
    background-color:$brand-blue-light;
    background-image: url('../img/bg-map.svg');
    background-repeat:no-repeat;
    background-position: 50% 190px;
    background-size: 90% 110%;
  }
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

[aria-hidden=true] {
  display: none !important;
}
