.login{
  .wrapper{
    max-width:550px;
    margin:0 auto;
    padding:20px;
    text-align:left;
    cursor:move;
  }
  .container{
    //child of wrapper
    border:1px solid #eee;
    background-color:$color-white;
    padding:40px 60px;

    .log_in{
      form{
        max-width:100%;

        a {
          color:$brand-blue;
        }

      }

    }
  }
}